h1 {
 margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

h2 {
 margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

h3 {
 margin-left: 100px;
 margin-top: 50px
 line-height: 1.5;
 color: #454545;
}

h4 {
 margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

p {
margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

h5 {
 margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

h6 {
 margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

ul {
margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

li {
 margin-left: 100px;
 line-height: 1.5;
 color: #454545;
}

a.navbarlink {
 line-height: 1.5;
 }

a {
 margin-left: 100px;
 line-height: 1.5;
 }
